/node_modules/
/dist/
/.git/
/app/css/
/**/_backstage
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store
/app/apple-touch-icon.png
/app/favicon*
/app/android*
/app/site.webmanifest
/app/safari-pinned-tab.svg
/app/mstile*
/app/browserconfig.xml
/app/ht.access