@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: $default-font
	font-variant-numeric: lining-nums
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		// &:focus:required:invalid
		// 	border-color: red
		// &:required:valid
		// 	border-color: green
			
*:focus 
	outline: $accent auto 5px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

ul
	list-style: none
	margin: 0
	padding: 0

a
	color: black
	text-decoration: none
	transition: all .15s ease-in-out
	&:hover
		color: black
		text-decoration: none

*
	font-variant-numeric: lining-nums
	letter-spacing: 0.01em

.header
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

.nav__item
	display: flex
	font-family: "raleway"
	font-weight: bold
	font-size: 1.1rem
	height: 60px
	align-items: center

.nav__link
	border-bottom: 3px solid $accent
	line-height: 1.8
	&:hover
		color: $accent
		border-color: transparent
	+media-breakpoint-down(lg)
		font-size: 1rem

.preloader__img
	height: 9vh

.header__contacts__item
	border-bottom: 1px solid transparent
	+media-breakpoint-down(lg)
		font-size: 0.8rem

.phone.header__contacts__item
	font-size: 0.9rem
	font-weight: 600

.header__contacts__item:hover
	font-weight: bold
	border-color: $accent

.contacts
	text-align: right

.main__content
	padding: 2rem 0

.main
	background-image: url('../img/mainsection.jpg')
	background-size: cover
	color: white

.slug
	font-size: 3.1rem
	font-weight: 500
	+media-breakpoint-down(sm)
		font-size: 2.5rem
	+media-breakpoint-down(xs)
		text-align: center
		font-size: 2.1rem

.description
	font-size: 1.1rem
	font-weight: normal
	margin-top: 1.8rem
	+media-breakpoint-down(xs)
		text-align: center
		font-size: 1rem
		margin-top: 2.5rem

.button__text
	margin-left: 0.3rem

.main__button-container
	margin-top: 3rem
	+media-breakpoint-down(xs)
		display: flex
		flex-direction: column
		align-items: center
		margin-top: 4rem

.button
	border-radius: 1.8rem
	border: none
	cursor: pointer
	transition: all .15s ease-in-out
	padding: 0.7rem 1.7rem
	justify-content: center
	align-items: center
	font-weight: 500

.main__button-container > a:nth-child(even)
	margin-left: 2rem
	+media-breakpoint-down(xs)
		margin-left: 0
		margin-top: 1.5rem

.button--primary
	background: $accent
	box-shadow: 0px 4px 13px $accent
	color: white
	&:hover
		background: white
		color: black
		box-shadow: 0px 4px 13px white
	&:focus
		background: white
		color: black
		outline: none
		border: 1px solid $accent
		border-radius: 1.8rem
		box-shadow: 0px 4px 13px rgba($accent, 0.3)


.button--secondary
	background: white
	box-shadow: 0px 4px 13px white
	color: black
	&:hover
		background: $accent
		box-shadow: 0px 4px 13px $accent
		color: white
	&:focus
		background: $accent
		color: white
		outline: none
		border: 1px solid $accent
		border-radius: 1.8rem
		box-shadow: 0px 4px 13px rgba($accent, 0.3)

.rent
	background-color: $gray
	position: relative

.section__header
	font-size: 36px
	font-weight: normal
	+media-breakpoint-down(sm)
		text-align: center

.rent__inner,
.works__inner
	padding: $section-padding

.rent-cards
	margin-top: 3rem
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
	grid-gap: $gutter*2
	grid-template-rows: auto
	align-items: stretch
	z-index: 10

.rent__card
	grid-template-rows: 60% 40%
	display: grid
	min-height: 20rem
	transition: all .3s ease-in-out
	border-radius: 7px
	background: white
	box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.08)
	&:hover
		box-shadow: 0px 5px 52px rgba(0, 0, 0, 0.18)	

.rent__card__image
	background-size: cover
	border-top-left-radius: 7px
	border-top-right-radius: 7px
	background-position-y: 24%

.rent__card__text-container
	padding: 7%
	padding-top: 11%

.rent__card__heading
	font-weight: 700
	font-size: 1.1rem
.rent__card__description
	color: rgba(0, 0, 0, 0.5)
	font-size: 0.87rem
	margin-top: 0.5rem
	font-weight: 500

.ghost
	position: absolute
	top: 5rem
	right: 1rem

.works
	background-image: url('../img/workssection.jpg')	

.white
	color: white	

.work-cards
	margin-top: 3rem
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 2*$gutter
	grid-template-rows: auto
	align-items: stretch
	z-index: 10
	+media-breakpoint-down(md)
		grid-template-columns: 1fr
.work__card
	grid-template-columns: 50% 50%
	display: grid
	transition: all .3s ease-in-out
	border-radius: 20px
	background: #f2f2f2
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.35)
	&:hover
		box-shadow: 0px 5px 52px rgba(0, 0, 0, 0.28)
	+media-breakpoint-down(md)
		grid-template-columns: 1fr
		grid-template-rows: auto

.work__card__image
	background-size: cover
	border-top-left-radius: 20px
	border-bottom-left-radius: 20px
	+media-breakpoint-down(md)
		border-top-right-radius: 20px
		border-bottom-left-radius: 0px
		min-height: 400px
	+media-breakpoint-down(sm)
		min-height: 200px

.work__card__text-container
	padding: $gutter/2 $gutter/1.3

.work__card__heading
	font-weight: bold
	font-size: 1.3rem

.work__card__description
	margin-top: 0.7rem
	line-height: 1.35
	font-weight: 500
	font-size: 0.9rem

.advantage
	display: grid
	grid-gap: 1.5rem
	grid-template-columns: 1fr 10fr

.advantage__heading
	font-weight: bold
	font-size: 1.5rem
	display: inline-block

.advantage__description
	margin-top: 1rem
	display: block
	color: rgba(0, 0, 0, 0.5)
	font-weight: 500

.advantages__inner
	padding: $section-padding

.advantages__list
	display: grid
	grid-template-columns: [first] 1fr [second] 1fr
	grid-gap: 4rem
	grid-template-rows: auto
	+media-breakpoint-down(md)
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))

.advantage__icon
	font-size: 2.5rem
	color: $accent
.advantages__heading
	display: inline
	font-weight: bold
	font-size: 2.1rem
	line-height: 1.7
	padding-bottom: 3px
	border-bottom: 3px solid $accent

.advantages__list
	margin: $section-padding
	margin-bottom: 0

.form
	display: flex
	background: white
	border-radius: 20px
	z-index: 5
	margin: 4rem auto
	margin-bottom: 0
	width: 100%
	max-width: 800px
	box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.06)
	flex-direction: column
	padding: 0 10%
	align-items: center
	position: relative

.form__inner
	width: 100%

.form__button
	margin: 2rem
	font-weight: bold
	border: 1px solid transparent
	&:hover
		border: 1px solid $accent
		box-shadow: 0px 4px 13px rgba($accent, 0.3)

.form__description
	font-size: 0.8rem
	width: 100%
	margin-top: 3rem
	margin-bottom: 0
	color: rgba(0,0,0,0.5)
	font-weight: 600
	&.agreement__required
		margin-top: 0

.required::after
	color: #e32
	content: ' *'
	font-size: 32px
	position: relative
	display: inline
	top: 2px
	left: -8px

.required--no-top::after
	top: 15px
	left: -5px

.form__label
	align-self: center
	font-size: 1.2rem
	font-weight: 600


.form__input
	border-radius: 7px
	border: 1px solid #c5c5c5
	padding: 1rem
	font-size: 1rem
	font-weight: 600
	color: #8d8d8d
	&:focus
		outline: none
		border: 2px solid $accent
		border-radius: 7px

.form__group
	width: 100%
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr))
	margin-top: 2rem

.contact-form
	border-top: 1px solid $darkgray
	border-bottom: 1px solid $darkgray
	padding: $section-padding
	background-color: $lightgray
	max-width: 100%
	overflow-x: hidden
	padding-bottom: 11rem

.footer
	color: white
	background: transparent
	position: relative
	height: 0

.footer__heading
	font-size: 2.1rem
	+media-breakpoint-down(xs)
		font-size: 1.8rem

.footer__heading-container
	+media-breakpoint-down(xs)
		text-align: center

.footer__bg
	background: radial-gradient(37vw at 49.84% 64.53%, #1D4EAC 0%, #002249 100%)
	padding-top: 12rem
	padding-bottom: 1.5rem
	bottom: 12rem
	position: relative

.footer__contacts
	display: flex
	flex-direction: column
	align-items: flex-start
	+media-breakpoint-down(xs)
		align-items: center

.contacts__item
	margin: 1.5rem 0
	display: inline-block

.contact__link
	color: white
	font-size: 1.3rem
	border-bottom: 1px solid $accent
	display: inline
	&:hover:not(.address)
		border-bottom-color: transparent
		font-weight: bold
		color: white
.menu__link
	font-weight: bold
	color: white
	display: inline-block
	font-size: 1.1rem
	margin: 1rem 0
	border-bottom: 1px solid transparent
	&:hover
		border-bottom-color: $accent
		color: white

.footer__info
	margin: 3rem 0

.bg-footer
	top: -20rem
	width: 100%
	height: auto
	position: absolute
.copyright
	color: #1E7DC8
	+media-breakpoint-down(xs)
		text-align: center
	
#preloader
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: #fff
	z-index: 1001
	display: flex
	justify-content: center
	align-items: center
	will-change: opacity
	flex-direction: column
	text-align: center

.not-found
	font-size: 3rem
	margin-top: 4rem
	font-weight: bold

.back
	font-size: 1.7rem
	font-weight: normal
	margin-top: 8rem
	border-bottom: 3px solid $accent

.preloader__spinner
	font-size: 4rem
	color: $accent

.burger
	width: 25px
	display: flex
	align-items: center
	border-radius: 0
	background: transparent
	border: 0
	text-decoration: none
	padding: 0
.burger__container
	display: inline-block
	margin-right: 0
	position: relative
	top: 2px
	transition: all .3s ease-in-out
	width: 25px
	height: 22px
.burger__icon
	background: $accent
	display: block
	width: 25px
	height: 3px
	transition: all .7s ease-in-out
	margin: 4px 0
	&:nth-child(2)
		will-change: opacity
	&:first-child
		margin-top: 0
		will-change: transform
	&:last-child
		margin-bottom: 0
		will-change: transform
	&--active
		margin: 0
		position: absolute
		top: 5px
		&:first-child
			transform: rotate(-45deg)
		&:last-child
			transform: rotate(45deg)
		&:nth-child(2)
			opacity: 0
.mobile-header
	padding: 1rem 0.8rem

.mobile-contacts
	display: flex
	justify-content: center
	align-items: center
	margin-top: 1.5rem
.mobile-contact
	flex-grow: 1
	flex-wrap: wrap
	justify-content: center
	margin-top: 1rem
	padding: 0 0.8rem
	display: flex
	align-items: center
.mobile-contact__icon
	font-size: 1.2rem
	color: $accent

.mobile-contact__value
	font-weight: 500
	font-size: 1.1rem
	margin-left: 0.6rem
	&.phone-value
		font-weight: bold
.logo__mobile
	width: 10rem

.mobile-menu
	margin-top: 2rem
.mobile-menu__link
	line-height: 1.5
	// display: block
	font-weight: bold
	font-size: 1.3rem
	border-bottom: 2px solid $accent
.mobile-menu__item
	text-align: center
	width: 100%
	margin: 1rem 0

.mobile-line
	border: none
	background-color: rgba(black, 0.2)
	height: 1px
.form-circle
	position: absolute
	z-index: 1
	bottom: 0rem
.form__bg-circle
	height: 16rem
	width: 150%
	border-radius: 50%
	z-index: 2
	left: -12.5%
	margin-top: -24rem
	bottom: -3.6rem
	position: relative
	background-color: #fafafa
.about__description
	line-height: 1.55
	letter-spacing: 0.3px
	margin-top: 2rem
.about
	padding: 4rem 0
	background-color: $gray

@import "media" // Always at the end
